.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
.box {
    width: 350px;
    height: 350px;
    background: #fff;
    text-align: center;
}
body {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
}